/* AUTORA: Rafaela Jacobsen */

* {
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}
